

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .325rem;
  flex: 1;
}

.question {
  white-space: pre-line;
  word-break: break-word;
}

/* 
----------------------------------------------------------------
  Do not touch, source https://codepen.io/vanderlanth/pen/BoNLvq 
----------------------------------------------------------------
*/
.switch-button {
  text-align: center;
  will-change: transform;
  z-index: 197;
  cursor: pointer;
  transition: 0.3s ease all;
  border: 0.5px solid var(--color-primary);
  border-radius: .325rem;
}

.switch-button-case {
  display: inline-block;
  background: none;
  width: 50%;
  height: 100%;
  color: var(--color-primary);
  position: relative;
  border: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0.5rem 1.2rem;
}

.switch-button-case:hover {
  cursor: pointer;
}

.switch-button-case:focus {
  outline: none;
}

.switch-button .active {
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  transition: 0.3s ease-out all;
  border-radius: .325rem;
}

.switch-button .switch-active {
  transform: translateX(100%);
}

.switch-button .active-case {
  color: hsl(0, 100%, 99%);
}

/* ------------------------------------------------------------ */
