@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;900&display=swap');

:root {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;

  color: hsla(0, 0%, 100%, 0.87);
  background: linear-gradient(-160deg, hsl(299, 100%, 90%) 2.16%, hsl(29, 96%, 72%) 128.38%);
  background-repeat: no-repeat;

  --color-primary: hsl(320, 41%, 37%);
  --color-secondary: hsl(25, 86%, 46%);
  --color-background: hsla(0, 100%, 99%, 0.65);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body, #root {
  min-height: 100%;
}

.app {
  height: 100%;
  padding: 1rem;
  max-width: 30rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 3rem;
  background-color: var(--color-background);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.25));
  border-radius: 0.325rem;
  color: var(--color-primary);
}

.button {
  padding: 1rem;
  display: block;
  min-width: 100%;
  border-radius: 0.325rem;
  background-color: var(--color-background);
  box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.25);
  color: var(--color-primary);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.submit {
  background-color: var(--color-primary);
  color: hsl(0, 100%, 99%);
  margin-bottom: .5rem;
}

.feedback {
  text-align: center;
  color: var(--color-primary);
}

.feedback a {
  text-decoration: underline;
}


h1 {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: x-large;
}

.input {
  padding: 0.5em;
  min-width: 100%;
  border-radius: 0.325rem;
  background-color: transparent;
  outline: none;
}

.input:focus, .input:active, .input:focus-within {
  outline: var(--color-primary) auto 1px;
}